@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    /* sct -> schemingdcat */
    --sct-primary-color: #ad1519; 
    --sct-secondary-color: #2f88a3;
    --sct-secondary-border-color: #fbbd00;
    --sct-secondary-bg-color: #0031641f;
    --miteco-flag-primary-color: #a71e03;
    --miteco-flag-secondary-color: var(--sct-secondary-border-color);
    --miteco-text-color: #4d4d4d;
    --miteco-masthead-text-color: #1d1d1b;
    --miteco-text-color-hover: #351f1a;
    --miteco-hover-bg-color: #ffdb00;
    --miteco-citation-hover-bg-color: #fbbd0047;
  }


body {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;
    color: var(--miteco-text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    margin: 0;
}

h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

/* Remove the feature image */
.homepage section.featured.media-overlay {
    display: none;
}
    
img[src*='#viewer'] { 
    border-radius: 5%;
}
img[src*='#left'] { 
    float: left;
    max-height: 200px; 
}
img[src*='#right'] { 
    float: right;
    max-height: 200px; 
}
img[src*='#center'] { 
    display: block;
    margin: auto;
    max-height: 100px; 
    max-width:250px;
}

.account-masthead .account ul li a {
    display: block;
    color: var(--miteco-masthead-text-color) !important;
    font-size: 13px;
    font-weight: 500;
    line-height: 31px;
}

.masthead .main-navbar ul li a {
    padding: 0.6rem 0.9rem;
    text-decoration: none;
    color: var(--miteco-masthead-text-color);
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5rem;
}

.account-masthead {
    padding: 0px 0;
    background: var(--sct-secondary-border-color);
    color: var(--miteco-masthead-text-color) !important;
}

.account-masthead .account ul li a:hover {
    /* color: #d9e7eb; */
    background-color: var(--miteco-flag-primary-color);
    text-decoration: none;
}

h1 {
    color: var(--sct-primary-color);
}

.homepage .module-search .module-content .heading-layout2 {
    color: var(--sct-primary-color);
}

.btn-primary {
    background-color:  var(--sct-primary-color);
    border-color:  var(--sct-primary-color);
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background-color: var(--miteco-hover-bg-color) !important;
    border-color: var(--sct-secondary-border-color)  !important;
    color: var(--miteco-text-color-hover);
}

a {
    color: var(--sct-primary-color);
}

a.endpoint {
    width: 40%;
    text-align: center;
    background-color: transparent;
    border-color: var(--sct-primary-color);
    color: var(--sct-primary-color);
    font-weight: 500;
    letter-spacing: -0.5px;
}

a.tag:hover {
    text-decoration: none;
    font-weight: 600;
    color: var(--miteco-text-color-hover);
    background-color: var(--miteco-hover-bg-color)  ;
    border: 1px solid var(--sct-secondary-border-color)  ;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.toolbar .breadcrumb a {
    color: var(--miteco-text-color);
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 3px solid var(--sct-primary-color);
}

.masthead .nav > li > a:focus, .masthead .nav > li > a:hover, .masthead .nav > .active > a, .masthead .nav > .active > a:hover, .masthead .nav > .active > a:focus {
    color: var(--sct-primary-color);
}

.masthead .navigation .nav-pills li a {
    background-color: transparent;
    color: var(--miteco-masthead-text-color);
    font-weight: 600;
    text-decoration: none;
}

.masthead .main-navbar.collapse.navbar-collapse > ul.navbar-nav > li:hover > a, .masthead .main-navbar.collapse.navbar-collapse > ul.navbar-nav > li:focus > a, .masthead .main-navbar.collapse.navbar-collapse > ul.navbar-nav > li.active > a {
    background-color: transparent;
    text-decoration: underline !important;
    text-underline-offset: 5px;
    color: var(--miteco-masthead-text-color);
    font-weight: 600;
    -webkit-transition: none;
    transition: none;
    border-radius: 0;
    background-color: transparent;
    border-bottom: 0;
}

.masthead .navigation .nav-pills li a:hover, .masthead .navigation .nav-pills li a:focus, .masthead .navigation .nav-pills li.active a {
    background-color: transparent;
    text-decoration: underline !important;
    text-underline-offset: 5px;
    color: var(--miteco-masthead-text-color);
    font-weight: 600;
    -webkit-transition: all .2s;
    transition: all .2s;
}

.masthead {
    margin-bottom: initial;
    padding: 10px 0;
    color: #fff;
    background-color: var(--miteco-hover-bg-color) !important;
    position: relative;
    padding: 30px 0;
    height: 138px;
}
    
.masthead::after {
    content: "";
    position: absolute;
    bottom: 0; /* Alinear con la parte inferior del contenedor */
    left: 0;
    height: 8px;
    width: 100%;
    background: repeating-linear-gradient(to right, var(--miteco-flag-primary-color), var(--miteco-flag-primary-color) 25%, var(--miteco-flag-secondary-color) 25%, var(--miteco-flag-secondary-color) 75%, var(--miteco-flag-primary-color) 75%);
}

.site-footer {
  margin-top:150px;
  background: #ecece2;
}


/* schemingdcat override */
.masthead .navbar .logo img {
    max-height: 75px;
    margin: 20px 0 20px 0;
}

.homepage .module-search .module-content .sdct-about-heading {
    font-size: 4em;
    font-weight: 600;
    color: #333;
    text-align: center;
}

.sct-about-h3 {
    position: relative;
    display: inline-block;
    font-weight: 600;
    color: #333;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.sct-about-h3:after {
    content: "";
    display: block;
    width: 50px;
    height: 4px;
    background-color: var(--sct-primary-color);
    margin-left: auto;
    border-radius: 0.3rem;
}

.sct-about-h4 {
    position: relative;
    display: inline-block;
    font-weight: 600;
    color: #333;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    font-size: 18px;
}

.sct-about-h4:after {
    content: "";
    display: block;
    width: 35px;
    height: 4px;
    background-color: var(--sct-primary-color);
    margin-left: auto;
    border-radius: 3px;
}

.sct-about-figures-alt-card-icon {
    height: 100%;
    width: 30%;
    float: left;
    border-radius: 4px 30px 30px 4px / 4px 40px 40px 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
}

.sct-about-figures-alt-card-icon i {
    font-size: 2rem;
    color: var(--sct-primary-color);
}

.sct-about-figures-alt-card {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    border: 1px solid #00316426;
    border-radius: 8px;
    background-color: transparent;
    color: var(--sct-primary-color);
    text-align: center;
    height: 5rem;
}

.sct-about-figures-alt-card-text a:hover {
    color: var(--sct-primary-color);
}

.custom-dropdown-menu .dropdown-header {
    font-size: 13px;
    font-weight: 600;
    color: var(--sct-primary-color);
    padding: 0.25rem 0.5rem;
    border-bottom: 1px solid #dee2e6;
}

.pill {
    display: inline-block;
    background-color: var(--sct-primary-color);
    color: #FFF;
    padding: 2px 10px 1px 10px;
    margin-right: 5px;
    font-weight: normal;
    border-radius: 100px;
}

.site-footer p:hover, .site-footer a:not(.icon-button):hover, .site-footer label:hover, .site-footer small:hover, .footer-powered-by:hover {
    color: var(--sct-primary-color);
    font-weight: 400;
    text-decoration: none;
}

/* Excluir estilos para .nav-tabs */
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  border-bottom: 3px solid var(--sct-primary-color);
  color: var(--sct-primary-color);
}

.nav-pills .nav-link.active, .nav-pills .page-header .nav-tabs li a.active, .page-header .nav-tabs li .nav-pills a.active,
.nav-pills .show > .nav-link,
.nav-pills .page-header .nav-tabs li .show > a,
.page-header .nav-tabs li .nav-pills .show > a {
  color: var(--miteco-text-color);
  font-size: 13px;
  background-color: var(--sct-secondary-border-color);
  font-weight: bold;
}

/* Excluir estilos para .module-content.page-header */
.module-content.page-header .nav > li.active > a,
.module-content.page-header .nav > li.active > a:hover,
.module-content.page-header .nav > li.active > a:focus {
  border-bottom: 3px solid var(--sct-primary-color);
  color: var(--sct-primary-color);
}

.nav-link, .page-header .nav-tabs li a {
    display: block;
    padding: 0.5rem 1rem;
    color: var(--sct-primary-color);
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.nav-link:hover, .page-header .nav-tabs li a:hover, .nav-link:focus, .page-header .nav-tabs li a:focus {
    color: var(--sct-primary-color);
    text-decoration: none;
}

.icon-button:hover {
    background-color: rgba(163, 60, 47, 0.4);
    color: var(--sct-primary-color);
    text-decoration: none;
}


.accordion-button:not(.collapsed) {
    color: var(--sct-primary-color);
    text-decoration: none;
    font-weight: 600;
    background-color: #e9f0f3;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.125);
}

.citation {
    .citation-string:hover {
        background-color: var(--miteco-citation-hover-bg-color);
        border-color: var(--sct-primary-color);
    }
}

/* ckanext-hierarchy */
.organization-info {
    margin-bottom: 10px;
  }
  .hierarchy-org-notes {
    margin-left: 20px;
    font-size: 0.9em;
    color: #666;
  }
  .hierarchy-tree-top {
    list-style-type: none;
    padding-left: 0;
  }
  .hierarchy-tree {
    list-style-type: none;
    padding-left: 20px;
  }
  .highlighted {
    background-color: #2b7fc9;
  }
  ul.hierarchy-tree-top {
    list-style-type: none !important;
    background: none;
}

.card:hover, .card:focus-within, .card:active, .card:focus {
    opacity: 1;
    color: var(--miteco-masthead-text-color);
    background-color: var(--bs-table-bg);
}

.card:hover .card-header, .card:focus-within .card-header {
    background-color: var(--miteco-hover-bg-color);
    color: var(--sct-primary-color);
    font-weight: normal;
    border-bottom: 1px solid var(--sct-primary-color);
}

.stages li.active:after {
    border-color: rgba(140, 198, 138, 0);
    border-top-color: var(--miteco-flag-secondary-color);
    border-bottom-color: var(--miteco-flag-secondary-color);
}
