@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('/catalogo/static/fonts/icomoon.ttf');

:root {
    /* sct -> schemingdcat */
    --sct-primary-color: #ad1519; 
    --sct-secondary-color: #2f88a3;
    --sct-secondary-border-color: #fbbd00;
    --sct-secondary-bg-color: #0031641f;
    --miteco-flag-primary-color: #a71e03;
    --miteco-flag-secondary-color: var(--sct-secondary-border-color);
    --miteco-text-color: #4d4d4d;
    --miteco-masthead-text-color: #1d1d1b;
    --miteco-text-color-hover: #351f1a;
    --miteco-hover-bg-color: #ffdb00;
    --miteco-citation-hover-bg-color: #fbbd0047;
  }


body {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;
    color: var(--miteco-text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    margin: 0;
}

h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

/* Remove the feature image */
.homepage section.featured.media-overlay {
    display: none;
}
    
img[src*='#viewer'] { 
    border-radius: 5%;
}
img[src*='#left'] { 
    float: left;
    max-height: 200px; 
}
img[src*='#right'] { 
    float: right;
    max-height: 200px; 
}
img[src*='#center'] { 
    display: block;
    margin: auto;
    max-height: 100px; 
    max-width:250px;
}

.account-masthead .account ul li a {
    display: block;
    color: var(--miteco-masthead-text-color) !important;
    font-size: 13px;
    font-weight: 500;
    line-height: 31px;
}

.masthead .main-navbar ul li a {
    padding: 0.6rem 0.9rem;
    text-decoration: none;
    color: var(--miteco-masthead-text-color);
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5rem;
}

.account-masthead {
    padding: 0px 0;
    background: var(--sct-secondary-border-color);
    color: var(--miteco-masthead-text-color) !important;
}

.account-masthead .account ul li a:hover {
    color: white !important; 
    background-color: var(--miteco-flag-primary-color);
    text-decoration: none;
}

 /*h1 {
   color: var(--sct-primary-color);
    
}*/

.homepage .module-search .module-content .heading-layout2 {
    color: var(--sct-primary-color);
}

.btn-primary {
    background-color:  var(--sct-primary-color);
    border-color:  var(--sct-primary-color);
    border-radius: 0;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background-color: #4e5f65 !important;
    border-color: #4e5f65;
    color: white;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #4e5f65;
    border-color: #4e5f65;
    border-radius: 0;
}

.page-link {
    position: relative;
    display: block;
    color: #4e5f65;
    background-color: #fff;
    border: 1px solid #dee2e6;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.page-item:last-child .page-link {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.js .image-upload .btn {
    position: relative;
    top: 0;
    margin-right: 10px;
    border-radius: 0;
}

.btn-group > .btn:not(:last-child):not(.dropdown-toggle), .btn-group > .btn-group:not(:last-child) > .btn {
    border-radius: 0;
}

.btn-check:checked + .btn, .btn-check:active + .btn, .btn:active, .btn.active {
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.125);
    /*box-shadow: none;*/
    background: #f6f6f6;
}

.btn-group > .btn:nth-child(n+3), .btn-group > :not(.btn-check) + .btn, .btn-group > .btn-group:not(:first-child) > .btn {
    border-radius: 0;
}

a {
    color: var(--sct-primary-color);
}

a.endpoint {
    width: 40%;
    text-align: center;
    background-color: transparent;
    border-color: var(--sct-primary-color);
    color: var(--sct-primary-color);
    font-weight: 500;
    letter-spacing: -0.5px;
}

a.tag:hover {
    text-decoration: none;
    font-weight: 600;
    color: var(--miteco-text-color-hover);
    background-color: var(--miteco-hover-bg-color)  ;
    border: 1px solid var(--sct-secondary-border-color)  ;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.toolbar .breadcrumb a {
    color: var(--miteco-text-color);
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 3px solid var(--sct-primary-color);
}

.masthead .nav > li > a:focus, .masthead .nav > li > a:hover, .masthead .nav > .active > a, .masthead .nav > .active > a:hover, .masthead .nav > .active > a:focus {
    color: var(--sct-primary-color);
}

.masthead .navigation .nav-pills li a {
    background-color: transparent;
    color: var(--miteco-masthead-text-color);
    font-weight: 600;
    text-decoration: none;
}

.masthead .main-navbar.collapse.navbar-collapse > ul.navbar-nav > li:hover > a, .masthead .main-navbar.collapse.navbar-collapse > ul.navbar-nav > li:focus > a, .masthead .main-navbar.collapse.navbar-collapse > ul.navbar-nav > li.active > a {
    background-color: transparent;
    text-decoration: underline !important;
    text-underline-offset: 5px;
    color: var(--miteco-masthead-text-color);
    font-weight: 600;
    -webkit-transition: none;
    transition: none;
    border-radius: 0;
    background-color: transparent;
    border-bottom: 0;
}

.masthead .navigation .nav-pills li a:hover, .masthead .navigation .nav-pills li a:focus, .masthead .navigation .nav-pills li.active a {
    background-color: transparent;
    text-decoration: underline !important;
    text-underline-offset: 5px;
    color: var(--miteco-masthead-text-color);
    font-weight: 600;
    -webkit-transition: all .2s;
    transition: all .2s;
}

.masthead {
    margin-bottom: initial;
    padding: 10px 0;
    color: #fff;
    background-color: var(--miteco-hover-bg-color) !important;
    position: relative;
    padding: 30px 0;
    height: 138px;
}
    
.masthead::after {
    content: "";
    position: absolute;
    bottom: 0; /* Alinear con la parte inferior del contenedor */
    left: 0;
    height: 8px;
    width: 100%;
    background: repeating-linear-gradient(to right, var(--miteco-flag-primary-color), var(--miteco-flag-primary-color) 25%, var(--miteco-flag-secondary-color) 25%, var(--miteco-flag-secondary-color) 75%, var(--miteco-flag-primary-color) 75%);
}

.site-footer {
  margin-top:150px;
  background: #ecece2;
}

.portada{background: url("../../images/default/catalogo-datos3.jpg") no-repeat 0; height:170px; background-size: 100%;}

.form-control {box-shadow: none;}
.homepage .module-search .search-giant input{
    border-color: var(--sct-primary-color); 
    height: auto; 
    border: 1px solid #00316426;  
    border-radius: 0px; 
}
.masthead .navbar .logo img {
    max-height: 75px;
    margin: 20px 0 20px 0;
}

.homepage .module-search .module-content .sdct-about-heading {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 2rem;
    color: #333;
     text-align: left;
}

h1:after{ 
     background: #ad1519;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: relative;
    width: 40px;
    display: block;
}
h1, .module h1, .module .h1 {
    /*margin-top: 0;
    margin-bottom: 20px;*/
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 2rem;
    color: #333;
     text-align: left;
}

.sdct-about-heading-container {
    max-width: none;
}
.sct-about-h2 {
    font-size: 1rem;
    font-weight: 700;
    line-height: 2rem;
}

.sct-about-h2:after {
    display: block;
    background: #ad1519;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: relative;
    width: 40px;
}

.search-form .search-input.search-giant button i {
    font-size: 20px;
    width: 28px;
    margin-top: 0.2em;
}
.search-form .search-input button i {
    color: #6e6e6e;
    transition: color 0.2s ease-in;
}
/*.sct-about-h3 {
    font-size: 1rem;
    font-weight: 700;
    line-height: 2rem;
}

.sct-about-h3:after {
    display: block;
    background: #ad1519;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: relative;
    width: 40px;
}

.sct-about-h4 {
    position: relative;
    display: inline-block;
    font-weight: 600;
    color: #333;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    font-size: 18px;
}

.sct-about-h4:after {
    content: "";
    display: block;
    width: 35px;
    height: 4px;
    background-color: var(--sct-primary-color);
    margin-left: auto;
    border-radius: 3px;
}*/

/*.fa-table-list::before {content: " " !important; background: url("../../images/default/ico_conjuto_datos.svg") no-repeat 0; width: 1.7em;  height: 1.7em;  display: block;}
.fa-globe::before {content: " " !important; background: url("../../images/default/ico_conjuto_datos_espaciales.svg") no-repeat 0; width: 1.7em;  height: 1.7em;  display: block;}
.fa-tags::before {content: " " !important; background: url("../../images/default/ico_palabras_clave.svg") no-repeat 0; width: 1.7em;  height: 1.7em;  display: block;}
.fa-sitemap::before {content: " " !important; background: url("../../images/default/ico_organizaciones.svg") no-repeat 0; width: 1.7em;  height: 1.7em;  display: block;}
.fa-square-share-nodes::before{content: " " !important; background: url("../../images/default/ico_puntos_finales.svg") no-repeat 0; width: 1.7em;  height: 1.7em;  display: block;}
.fa-folder-open::before {content: " " !important; background: url("../../images/default/ico_grupos.svg") no-repeat 0; width: 1.7em;  height: 1.7em;  display: block;} */


.sct-about-themes-card-icon, .category-theme, .category-spatial_uri, img.facet-icon{border: 1px solid #d9e0e8;}
.search-input-group #field-giant-search {border-color: var(--sct-primary-color); height: auto; border: 1px solid #00316426; border-radius: 0px; height: 52px; box-shadow: none;}

.module-narrow .nav-item.active > a, .module-narrow .nav-aside li.active a {position: relative; color: #FFF; background-color: #6e6e6e;}
.module-narrow .nav-item.active > a:before, .module-narrow .nav-aside li.active a:before {content: " "; position: absolute; border: 20px solid transparent; border-right: none; 
    border-left-color: #6e6e6e; border-left-width: 6px; top: 0;  bottom: 0;  right: -6px;  width: 6px;  height: 34px;}

input[data-module=autocomplete], select[data-module=autocomplete] {width: 100%; border: 1px solid #ced4da; padding: 0.5em; margin-top: 0.5em;}
input#field-publish_date {padding: 0.5em 1em; border: 1px solid #ced4da; background: url("../../images/default/ico_calendario.svg") no-repeat 0; background-position: right;
    background-size: 2.5em;}

.select2-container .select2-choice {
    display: block !important;
    height: auto !important;
    padding: 0.5em 1em !important;
    overflow: hidden;
    position: relative;
    border: 1px solid #ced4da !important;
    white-space: nowrap;
    line-height: normal;
    color: #333333 !important;
    text-decoration: none;
    border-radius: 0;
    background-clip: padding-box;
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    background-color: #fff !important;
    background-image: none !important;
    background-image: none !important;
    background-image: none !important;
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#eeeeee', GradientType = 0);*/
    background-image: none !important;
    margin-top: 0.5em ;
}    

.select2-container .select2-choice .select2-arrow {
    /*display: inline-block;
    width: 18px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    border-left: 1px solid #aaa;
    border-radius: 0 4px 4px 0;
    background-clip: padding-box;
    background: #ccc;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ccc), color-stop(0.6, #eee));
    background-image: -webkit-linear-gradient(center bottom, #ccc 0%, #eee 60%);
    background-image: -moz-linear-gradient(center bottom, #ccc 0%, #eee 60%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#eeeeee', endColorstr = '#cccccc', GradientType = 0);
    background-image: linear-gradient(to top, #ccc 0%, #eee 60%);*/

    display: inline-block ;
    width: 18px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    border-left: 0 none !important;
    border-radius: none !important;
    background-clip: padding-box !important;
    background: #ccc !important;
    background-image: none !important;
    background-image: none !important;
    background-image: none !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#eeeeee', endColorstr = '#cccccc', GradientType = 0);
    background-image: none !important;
    background: transparent !important;

    /*display: block !important;
    width: 100% !important;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem !important;
    -moz-padding-start: calc(0.75rem - 3px) !important;
    font-size: 0.875rem !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    color: #333333 !important;
    background-color: #fff !important;
    background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e) !important;
    background-image: none !important;
    background-image: none !important;
    background-repeat: no-repeat !important;
    background-position: right 0.75rem center !important;
    background-size: 16px 12px !important;
    border: 1px solid #ced4da !important;
    border-radius: 0.25rem !important; 
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075) !important;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
    appearance: none !important;*/
}

.metadata-sidebar-nav li {
    position: relative;
    padding: 15px 20px;
    border-bottom: 1px solid #ccc;
    background: linear-gradient(to right, var(--sct-primary-color), var(--sct-primary-color)) no-repeat;
    background-size: 0 100%;
    transition: background-size 0.3s;
    cursor: pointer;
    background-color: #f2f2f2;
    text-align: left;
}

.metadata-sidebar-nav li a {display: block;  width: 100%; height: 100%; color: #000000;  text-decoration: none; font-weight: 500;}

.homepage .module-search .tags {padding: 0; border-radius: 0;}
.homepage .module-search .tags h3 {color: white; background: #ad1519; font-weight: bold; padding: 1em 0.5em; text-shadow: none;}
.index_tags .tag {color:white; background: #6e6e6e; font-weight: bold; border-radius: 0; padding: 1.3em 0.5em 0.8em 0.5em;}


.homepage .module-search .tags h3, .homepage .module-search .tags .h3, .homepage .module-search .tags .tag {display: block;  float: left;  border: 0 none; margin: 0.5em 0 0 0.5em;}
.homepage .module-search .tags h3, .homepage .module-search .tags .h3, .homepage .module-search .tags .tag:first-child {margin-left: 0;}
.homepage .module-search .tags h3, .homepage .module-search .tags .h3, .homepage .module-search .tags .tag:last-child {margin-right: 0;}

    
a.tag:hover {
    text-decoration: none;
    font-weight: bold;
    color: var(--miteco-text-color-hover);
    background-color: var(--miteco-hover-bg-color);
    border: 1px solid var(--sct-secondary-border-color);
   /* -webkit-box-shadow: none;
    box-shadow: none;*/
}
.sct-about-figures-alt-card-icon {
    height: 100%;
    width: 30%;
    float: left;
    border-radius: 4px 30px 30px 4px / 4px 40px 40px 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
}

.sct-about-figures-alt-card-icon i {
    font-size: 1.5rem;
    color: #1d355e;
    border: 1px solid #d9e0e8;
    padding: 0.5em;
    border-radius: 500px;
    background: white;
}

.sct-about-figures-alt-card {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    border: 1px solid #00316426;
    border-radius: 0px;
    background-color: transparent;
    color: var(--sct-primary-color);
    text-align: center;
    height: 5rem;
}
.sct-about-figures-alt-card-text a {
    text-decoration: none;
    color: #474442;
    font-size: 0.9rem;
}
.sct-about-themes-card {
    flex: 1 1 calc(25% - 20px);
    max-width: 150px;
    min-width: 100px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 0px;
    background-color: #f2f2f2;
    text-decoration: none;
    color: #474442;
    margin: 10px 0;
}
.sct-about-figures-alt-card-text a:hover {
    color: var(--sct-primary-color);
}

.custom-dropdown-menu .dropdown-header {
    font-size: 13px;
    font-weight: 600;
    color: var(--sct-primary-color);
    padding: 0.25rem 0.5rem;
    border-bottom: 1px solid #dee2e6;
}

.pill {
    display: inline-block;
    background-color: #4e5f65;
    color: #FFF;
    padding: 0.2em 0.5em;
    margin-right: 5px;
    font-weight: normal;
    border-radius: 0;
}

.dataset-resources li a {
    background-color: #f6f6f6;
    color: black;
    border: 1px solid #d9e0e8;
    border-radius: 0;
}

.label[data-bs-format=xml], .label[data-bs-format*=xml] {
    background-color: #f79e61;
}
.module-narrow .nav-item > a .badge, .module-narrow .nav-aside li a .badge {
    background-color: #f6f6f6;
    border-radius: 0;
    color: #6e6e6e;
    border: 1px solid #d9e0e8;
}

.label[data-bs-format=csv], .label[data-bs-format*=csv], .label[data-bs-format*=tsv], .label[data-bs-format*=xls], .label[data-bs-format*=xlsx], .label[data-bs-format*=gspread], .label[data-bs-format*=gsheet], .label[data-bs-format*=sheet] {
    background-color: #9f1317;
    color: white;
}

.filters .module .sorting .up, .filters .module .sorting .down, .filters .module .sorting .label {
    position: absolute;
    left: 2px;
    color: #4e5f65;
}

.filters .module .sorting .label {
    right: 0.5em;
    bottom: 25%;
    margin: auto;
    padding-right: 2px;
    text-align: end;
}

.filters .module .sorting {
    border: 1px solid #dddddd;
    border-radius: 0;
}
.badge-label:hover {
    background-color: #4e5f65 !important;
    color: white;
    font-weight: 600;
    text-decoration: none;
}

.search-form .control-order-by .form-control {
    width: auto;
    max-width: 200px;
    border-radius: 0;
    border-color: #eee;
}

.site-footer p:hover, .site-footer a:not(.icon-button):hover, .site-footer label:hover, .site-footer small:hover, .footer-powered-by:hover {
    color: #333;
    font-weight: 400;
    text-decoration: none;
}
ul.logo_open_data {    margin-top: 3em !important; margin-left: -2.5em !important;}
ul.logo_open_data li{list-style: none;}
ul.logo_open_data  li a:after {border-bottom: 0 none !important;}

/* Excluir estilos para .nav-tabs */
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  border-bottom: 3px solid var(--sct-primary-color);
  color: var(--sct-primary-color);
}

.nav-pills .nav-link.active, .nav-pills .page-header .nav-tabs li a.active, .page-header .nav-tabs li .nav-pills a.active,
.nav-pills .show > .nav-link,
.nav-pills .page-header .nav-tabs li .show > a,
.page-header .nav-tabs li .nav-pills .show > a {
  color: var(--miteco-text-color);
  font-size: 13px;
  background-color: var(--sct-secondary-border-color);
  font-weight: bold;
}

/* Excluir estilos para .module-content.page-header */
.module-content.page-header .nav > li.active > a,
.module-content.page-header .nav > li.active > a:hover,
.module-content.page-header .nav > li.active > a:focus {
  border-bottom: 3px solid var(--sct-primary-color);
  color: var(--sct-primary-color);
}

.nav-link, .page-header .nav-tabs li a {
    display: block;
    padding: 0.5rem 1rem;
    color: var(--sct-primary-color);
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.nav-link:hover, .page-header .nav-tabs li a:hover, .nav-link:focus, .page-header .nav-tabs li a:focus {
    color: var(--sct-primary-color);
    text-decoration: none;
}

.icon-button:hover {
    background-color: rgba(163, 60, 47, 0.4);
    color: var(--sct-primary-color);
    text-decoration: none;
}


.accordion-button:not(.collapsed) {
    color: var(--sct-primary-color);
    text-decoration: none;
    font-weight: 600;
    background-color: #e9f0f3;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.125);
}

.citation {
    .citation-string:hover {
        background-color: var(--miteco-citation-hover-bg-color);
        border-color: var(--sct-primary-color);
    }
}

/* ckanext-hierarchy */
.organization-info {
    margin-bottom: 10px;
  }
  .hierarchy-org-notes {
    margin-left: 20px;
    font-size: 0.9em;
    color: #666;
  }
  .hierarchy-tree-top {
    list-style-type: none;
    padding-left: 0;
  }
  .hierarchy-tree {
    list-style-type: none;
    padding-left: 20px;
  }
  .highlighted {
    background-color: #2b7fc9;
  }
  ul.hierarchy-tree-top {
    list-style-type: none !important;
    background: none;
}

.card:hover, .card:focus-within, .card:active, .card:focus {
    opacity: 1;
    color: var(--miteco-masthead-text-color);
    background-color: var(--bs-table-bg);
}

.card:hover .card-header, .card:focus-within .card-header {
    background-color: var(--miteco-hover-bg-color);
    color: var(--sct-primary-color);
    font-weight: normal;
    border-bottom: 1px solid var(--sct-primary-color);
}

.stages li.active:after {
    border-color: rgba(140, 198, 138, 0);
    border-top-color: var(--miteco-flag-secondary-color);
    border-bottom-color: var(--miteco-flag-secondary-color);
}

.site-footer ul {
    display: flex;
    width: 100%;
}
.site-footer ul li {
    -webkit-box-flex: 1;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    align-items: center;
    -ms-flex: auto;
    flex: auto;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    justify-content: center;
    margin: 0 2% 0 0;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    padding: 0;
    position: relative;
    text-decoration: none;
    width: auto;
}
.site-footer ul li:last-child {display:list-item;}
/*.site-footer ul li a{padding-bottom: 0.2em; border-bottom: 1px solid; font-weight: 600;}*/

.site-footer ul li a:after {
    border-bottom: 1px solid #333;
    bottom: -15%;
    content: "";
    height: 1px;
    left: 50%;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: 2.5s;
    transition: 2.5s;
    width: 100%;
}
.site-footer ul li:hover a::after {border: 0; } 
.site-footer p, .site-footer a, .site-footer label, .site-footer small, .site-footer strong {color: #333;}
.box{text-align: initial;}
.sct-about-themes-card-count {color: #3d4245;}
.label[data-bs-format=wms], .label[data-bs-format*=wms] {background-color: #d7d575; color: black;}
.label[data-bs-format=wmts], .label[data-bs-format*=wmts] {background-color: #e3cfb7; color: black;}
.badge-label:hover {color:black; background-color: #ffdb00 !important;}
ul.nav.nav-simple.nav-facet.tags_facet .active .separator {color: white;}
.filters .module .sorting .label {font-size: 1em; margin-left: 5px;}
.badge {font-size: 0.9em;}
.metadata-sidebar-nav li:hover .metadata-sidebar-template-description{color: #eee;}
.activity .item .date {color: #595959 !important;}
.activity_buttons > a.btn.disabled {color: #595959 !important;  opacity: 1 !important;}
.control-required {color: #ad1519;}
.tip .quote-alert-title {color: #175923;}
.caution .quote-alert-title, .quote-alert.caution strong {color: #ad1519;}
.label {font-size: 80%;}

/* MITECO Schema */
.form-readonly-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #333333;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 0.25rem;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    cursor: text; 
    user-select: all; 
  }

  .miteco-code {
    overflow: auto;
    max-height: 130px;
    font-size: 11px;
}

ul.logo_miteco_blanco{display: block; margin-top: 1em !important; margin-left: -2.5em !important;}
ul.logo_miteco_blanco li{color:#6c6c6c !important; list-style:none; margin: 0 !important; font-weight: bold;}
ul.logo_miteco_blanco li img{margin: 0em 0 1em 0; width: 300px;}

@media (min-width: 996px) {
    .sct-about-figures__items {
        flex-grow: 2;
        display: flex; 
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        .sct-about-figures-alt-card {
          display: flex;
          flex-basis: 30%;
          align-items: center;
          justify-content: center;
          margin-bottom: 1rem;
          border: 1px solid #00316426;
          border-radius: 0px;
          background-color: transparent;
          color: var(--sct-primary-color);
          text-align: center;
          height: 5rem;
        }
    }
}

/*tags*/

#tagList{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

/**************************css para footer***************************/
.footer-socicons_miteco{
    justify-content: flex-end;
}




/**************************css para iconos***************************/
@font-face {
    font-display: block;
    font-family: icomoon;
    font-style: normal;
    font-weight: 400;
    src: url(/catalogo/static/fonts/icomoon.ttf?a2kpci);
    src: url(/catalogo/static/fonts/icomoon.ttf?a2kpci) format("embedded-opentype"),url(/catalogo/static/fonts/icomoon.ttf?a2kpci) format("truetype");
}

[class*=" ficon-"],[class^=ficon-] {
    speak: never;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: icomoon!important;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 1;
    text-transform: none
}

.ficon-twitter-x:before {
    content: ""
}

.ficon-xls-file:before {
    content: ""
}

.ficon-xlsx-file:before {
    content: ""
}

.ficon-excel-file:before {
    content: ""
}

.ficon-pdf-file:before {
    content: ""
}

.ficon-ppt-file:before {
    content: ""
}

.ficon-list:before {
    content: ""
}

.ficon-ministerio:before {
    content: ""
}

.ficon-energia:before {
    content: ""
}

.ficon-biodiversidade:before {
    content: ""
}

.ficon-reto_demografico:before {
    content: ""
}

.ficon-agua:before {
    content: ""
}

.ficon-costas_medio_marino:before {
    content: ""
}

.ficon-calidad_evaluacion_ambiental:before {
    content: ""
}

.ficon-educacion_ambiental:before {
    content: ""
}

.ficon-cambio_climatico:before {
    content: ""
}

.ficon-participacion_publica:before {
    content: ""
}

.ficon-cartografia_sig:before {
    content: ""
}

.ficon-sede_eletronica:before {
    content: ""
}

.ficon-sala_prensa:before {
    content: ""
}

.ficon-atencion_ciudadano:before {
    content: ""
}

.ficon-alert-triangle:before {
    content: ""
}

.ficon-alert-circle:before {
    content: ""
}

.ficon-x-square:before {
    content: ""
}

.ficon-arrow-up:before {
    content: ""
}

.ficon-arrow-up-left:before {
    content: ""
}

.ficon-arrow-left:before {
    content: ""
}

.ficon-arrow-down-left:before {
    content: ""
}

.ficon-arrow-down:before {
    content: ""
}

.ficon-arrow-down-right:before {
    content: ""
}

.ficon-arrow-right:before {
    content: ""
}

.ficon-arrow-up-right:before {
    content: ""
}

.ficon-arrow-left-circle:before {
    content: ""
}

.ficon-arrow-down-circle:before {
    content: ""
}

.ficon-arrow-right-circle:before {
    content: ""
}

.ficon-arrow-up-circle:before {
    content: ""
}

.ficon-chevron-left:before {
    content: ""
}

.ficon-chevron-down:before {
    content: ""
}

.ficon-chevron-right:before {
    content: ""
}

.ficon-chevron-up:before {
    content: ""
}

.ficon-chevrons-left:before {
    content: ""
}

.ficon-chevrons-down:before {
    content: ""
}

.ficon-chevrons-right:before {
    content: ""
}

.ficon-chevrons-up:before {
    content: ""
}

.ficon-navigation:before {
    content: ""
}

.ficon-navigation-2:before {
    content: ""
}

.ficon-activity:before {
    content: ""
}

.ficon-anchor:before {
    content: ""
}

.ficon-archive:before {
    content: ""
}

.ficon-at-sign:before {
    content: ""
}

.ficon-award:before {
    content: ""
}

.ficon-bell:before {
    content: ""
}

.ficon-bell-off:before {
    content: ""
}

.ficon-box:before {
    content: ""
}

.ficon-briefcase:before {
    content: ""
}

.ficon-calendar:before {
    content: ""
}

.ficon-camera:before {
    content: ""
}

.ficon-camera-off:before {
    content: ""
}

.ficon-check:before {
    content: ""
}

.ficon-check-circle:before {
    content: ""
}

.ficon-circle:before {
    content: ""
}

.ficon-clipboard:before {
    content: ""
}

.ficon-clock:before {
    content: ""
}

.ficon-cloud:before {
    content: ""
}

.ficon-cloud-off:before {
    content: ""
}

.ficon-compass:before {
    content: ""
}

.ficon-delete:before {
    content: ""
}

.ficon-disc:before {
    content: ""
}

.ficon-download:before {
    content: ""
}

.ficon-download-cloud:before {
    content: ""
}

.ficon-edit:before {
    content: ""
}

.ficon-external-link:before {
    content: ""
}

.ficon-eye:before {
    content: ""
}

.ficon-eye-off:before {
    content: ""
}

.ficon-film:before {
    content: ""
}

.ficon-filter:before {
    content: ""
}

.ficon-framer:before {
    content: ""
}

.ficon-smile:before {
    content: ""
}

.ficon-meh:before {
    content: ""
}

.ficon-frown:before {
    content: ""
}

.ficon-gift:before {
    content: ""
}

.ficon-globe:before {
    content: ""
}

.ficon-grid:before {
    content: ""
}

.ficon-hard-drive:before {
    content: ""
}

.ficon-hash:before {
    content: ""
}

.ficon-headphones:before {
    content: ""
}

.ficon-heart:before {
    content: ""
}

.ficon-help-circle:before {
    content: ""
}

.ficon-hexagon:before {
    content: ""
}

.ficon-inbox:before {
    content: ""
}

.ficon-info:before {
    content: ""
}

.ficon-italic:before {
    content: ""
}

.ficon-key:before {
    content: ""
}

.ficon-link:before {
    content: ""
}

.ficon-lock:before {
    content: ""
}

.ficon-log-in:before {
    content: ""
}

.ficon-log-out:before {
    content: ""
}

.ficon-mail:before {
    content: ""
}

.ficon-map-pin:before {
    content: ""
}

.ficon-maximize:before {
    content: ""
}

.ficon-message-circle:before {
    content: ""
}

.ficon-mic:before {
    content: ""
}

.ficon-mic-off:before {
    content: ""
}

.ficon-minimize-2:before {
    content: ""
}

.ficon-minus:before {
    content: ""
}

.ficon-monitor:before {
    content: ""
}

.ficon-moon:before {
    content: ""
}

.ficon-more-horizontal:before {
    content: ""
}

.ficon-more-vertical:before {
    content: ""
}

.ficon-mouse-pointer:before {
    content: ""
}

.ficon-move:before {
    content: ""
}

.ficon-octagon:before {
    content: ""
}

.ficon-package:before {
    content: ""
}

.ficon-paperclip:before {
    content: ""
}

.ficon-percent:before {
    content: ""
}

.ficon-phone:before {
    content: ""
}

.ficon-pie-chart:before {
    content: ""
}

.ficon-pocket:before {
    content: ""
}

.ficon-power:before {
    content: ""
}

.ficon-radio:before {
    content: ""
}

.ficon-search:before {
    content: ""
}

.ficon-send:before {
    content: ""
}

.ficon-settings:before {
    content: ""
}

.ficon-share:before {
    content: ""
}

.ficon-shield:before {
    content: ""
}

.ficon-shield-off:before {
    content: ""
}

.ficon-shopping-bag:before {
    content: ""
}

.ficon-shuffle:before {
    content: ""
}

.ficon-sidebar:before {
    content: ""
}

.ficon-slash:before {
    content: ""
}

.ficon-sliders:before {
    content: ""
}

.ficon-smartphone:before {
    content: ""
}

.ficon-speaker:before {
    content: ""
}

.ficon-square:before {
    content: ""
}

.ficon-star:before {
    content: ""
}

.ficon-tablet:before {
    content: ""
}

.ficon-tag:before {
    content: ""
}

.ficon-target:before {
    content: ""
}

.ficon-terminal:before {
    content: ""
}

.ficon-thermometer:before {
    content: ""
}

.ficon-thumbs-down:before {
    content: ""
}

.ficon-thumbs-up:before {
    content: ""
}

.ficon-toggle-left:before {
    content: ""
}

.ficon-toggle-right:before {
    content: ""
}

.ficon-tool:before {
    content: ""
}

.ficon-trending-down:before {
    content: ""
}

.ficon-trending-up:before {
    content: ""
}

.ficon-triangle:before {
    content: ""
}

.ficon-truck:before {
    content: ""
}

.ficon-tv:before {
    content: ""
}

.ficon-umbrella:before {
    content: ""
}

.ficon-unlock:before {
    content: ""
}

.ficon-upload:before {
    content: ""
}

.ficon-upload-cloud:before {
    content: ""
}

.ficon-voicemail:before {
    content: ""
}

.ficon-watch:before {
    content: ""
}

.ficon-wifi:before {
    content: ""
}

.ficon-wifi-off:before {
    content: ""
}

.ficon-wind:before {
    content: ""
}

.ficon-x:before {
    content: ""
}

.ficon-zap:before {
    content: ""
}

.ficon-zap-off:before {
    content: ""
}

.ficon-file-text:before {
    content: ""
}

.ficon-pdf:before {
    content: ""
}

.ficon-share-2:before {
    content: ""
}

.ficon-twitch:before {
    content: ""
}

.ficon-twitter:before {
    content: ""
}

.ficon-youtube:before {
    content: ""
}

.ficon-aperture:before {
    content: ""
}

.ficon-chrome:before {
    content: ""
}

.ficon-facebook:before {
    content: ""
}

.ficon-feather:before {
    content: ""
}

.ficon-figma:before {
    content: ""
}

.ficon-github:before {
    content: ""
}

.ficon-gitlab:before {
    content: ""
}

.ficon-instagram:before {
    content: ""
}

.ficon-linkedin:before {
    content: ""
}

.ficon-trello:before {
    content: ""
}

.ficon-rewind:before {
    content: ""
}

.ficon-skip-back:before {
    content: ""
}

.ficon-pause:before {
    content: ""
}

.ficon-play:before {
    content: ""
}

.ficon-skip-forward:before {
    content: ""
}

.ficon-fast-forward:before {
    content: ""
}

.ficon-pause-circle:before {
    content: ""
}

.ficon-stop-circle:before {
    content: ""
}

.ficon-play-circle:before {
    content: ""
}

.ficon-video:before {
    content: ""
}

.ficon-video-off:before {
    content: ""
}

.ficon-volume:before {
    content: ""
}

.ficon-volume-1:before {
    content: ""
}

.ficon-volume-2:before {
    content: ""
}

.ficon-volume-x:before {
    content: ""
}

.ficon-zoom-in:before {
    content: ""
}

.ficon-zoom-out:before {
    content: ""
}

.ficon-airplay:before {
    content: ""
}

.ficon-cast:before {
    content: ""
}

.ficon-layers:before {
    content: ""
}

.ficon-layout:before {
    content: ""
}

.ficon-life-buoy:before {
    content: ""
}

.ficon-message-square:before {
    content: ""
}

.ficon-rss:before {
    content: ""
}

.ficon-server:before {
    content: ""
}

.ficon-code:before {
    content: ""
}

.ficon-coffee:before {
    content: ""
}

.ficon-columns:before {
    content: ""
}

.ficon-command:before {
    content: ""
}

.ficon-copy:before {
    content: ""
}

.ficon-crosshair:before {
    content: ""
}

.ficon-database:before {
    content: ""
}

.ficon-flag:before {
    content: ""
}

.ficon-minimize:before {
    content: ""
}

.ficon-music:before {
    content: ""
}

.ficon-pen-tool:before {
    content: ""
}

.ficon-sun:before {
    content: ""
}

.ficon-sunrise:before {
    content: ""
}

.ficon-sunset:before {
    content: ""
}

.ficon-bold:before {
    content: ""
}

.ficon-book:before {
    content: ""
}

.ficon-book-open:before {
    content: ""
}

.ficon-bookmark:before {
    content: ""
}

.ficon-loader:before {
    content: ""
}

.ficon-maximize-2:before {
    content: ""
}

.ficon-refresh-ccw:before {
    content: ""
}

.ficon-refresh-cw:before {
    content: ""
}

.ficon-crop:before {
    content: ""
}

.ficon-menu:before {
    content: ""
}

.ficon-align-center:before {
    content: ""
}

.ficon-align-justify:before {
    content: ""
}

.ficon-align-left:before {
    content: ""
}

.ficon-align-right:before {
    content: ""
}

.ficon-bar-chart:before {
    content: ""
}

.ficon-bar-chart-2:before {
    content: ""
}

.ficon-corner-down-left:before {
    content: ""
}

.ficon-corner-down-right:before {
    content: ""
}

.ficon-corner-left-down:before {
    content: ""
}

.ficon-corner-left-up:before {
    content: ""
}

.ficon-corner-right-down:before {
    content: ""
}

.ficon-corner-right-up:before {
    content: ""
}

.ficon-corner-up-left:before {
    content: ""
}

.ficon-corner-up-right:before {
    content: ""
}

.ficon-edit-2:before {
    content: ""
}

.ficon-edit-3:before {
    content: ""
}

.ficon-image:before {
    content: ""
}

.ficon-link-2:before {
    content: ""
}

.ficon-minus-circle:before {
    content: ""
}

.ficon-minus-square:before {
    content: ""
}

.ficon-plus:before {
    content: ""
}

.ficon-plus-circle:before {
    content: ""
}

.ficon-x-circle:before {
    content: ""
}

.ficon-plus-square:before {
    content: ""
}

.ficon-printer:before {
    content: ""
}

.ficon-repeat:before {
    content: ""
}

.ficon-rotate-ccw:before {
    content: ""
}

.ficon-rotate-cw:before {
    content: ""
}

.ficon-save:before {
    content: ""
}

.ficon-scissors:before {
    content: ""
}

.ficon-trash:before {
    content: ""
}

.ficon-trash-2:before {
    content: ""
}

.ficon-type:before {
    content: ""
}

.ficon-underline:before {
    content: ""
}

.ficon-user:before {
    content: ""
}

.ficon-user-check:before {
    content: ""
}

.ficon-user-minus:before {
    content: ""
}

.ficon-user-plus:before {
    content: ""
}

.ficon-user-x:before {
    content: ""
}

.ficon-users:before {
    content: ""
}

.ficon-folder:before {
    content: ""
}

.ficon-folder-minus:before {
    content: ""
}

.ficon-folder-plus:before {
    content: ""
}

.ficon-file:before {
    content: ""
}

.ficon-file-minus:before {
    content: ""
}

.ficon-file-plus:before {
    content: ""
}