{% extends 'page.html' %}
{% block secondary_content %}
  <div class="module module-narrow module-shallow">
    <h2 class="module-heading">
      <i class="fa fa-info-circle icon-info-sign"></i>
      {{ _('¿Que son las palabras clave?') }}
    </h2>
    <div class="module-content">

      <p>{{ _("Las palabras clave se utilizan para identificar y clasificar conceptos dentro de un sistema de información. 
        Sirven para mejorar la organización, búsqueda y recuperación de datos.  En el contexto del Catálogo de Datos estas palabras 
        clave son elegidas de forma libre por el publicador facilitando el acceso eficiente a la información relevante.") }}</p>
    
    </div>
  </div>
{% endblock %}

{% block primary_content_inner %}
    <h1><center>{{ _( "Lista de palabras clave" ) }}</center></h1>
    <div id="tagList" class="mt-3">
      {%set tags = h.miteco_get_tags()%}
      {% for tag in tags %}
      <a class="tag endpoints_index_cards" href="{{ h.url_for('dataset.search', tags=tag) }}">
        <i class="fa fa-share-alt-square"></i>
        {{ tag }}
      </a>
      {% endfor %}
    </div>
{% endblock %}



