<footer class="site-footer">
    <div class="container">
      {% block footer_content %}
      <div class="row d-flex align-items-start">
        <div class="col-md-8 footer-links d-flex flex-column">
          {% block footer_nav %}
            <div class="footer-sitelinks">
              <ul class="list-unstyled">
                {% block footer_links_ckan %}
                  {% set api_url = 'http://docs.ckan.org/en/{0}/api/'.format(g.ckan_doc_version) %}
                  {#<li><a href="{{ h.url_for('home.about') }}">{{ _('About {0}').format(g.site_title) }}</a></li>
                  <li><a href="{{ api_url }}">{{ _('CKAN API') }}</a></li>
                  <li><a href="http://www.ckan.org/">{{ _('CKAN Association') }}</a></li>#}
                  <li><a href="https://www.datosabiertos.miteco.gob.es/es.html">Inicio</a></li>
                  <li><a href="https://www.datosabiertos.miteco.gob.es/es/declaracion-de-accesibilidad.html">Accesibilidad</a></li>
                  <li><a href="https://www.datosabiertos.miteco.gob.es/es/mapa-web.html">Mapa Web</a></li>
                  <li><a href="https://www.datosabiertos.miteco.gob.es/es/guia-de-navegacion.html">Guía de navegación</a></li>
                  <li><a href="https://www.datosabiertos.miteco.gob.es/es/aviso-legal.html">Aviso legal</a></li>
                {% endblock %}
              </ul>
            </div>
            <div class="contenedor_logos">
              <ul class="logo_miteco_blanco">
                <li><img src="{{h.url_for_static('/images/default/footer-logo.svg')}}" alt="Ministerio para la Transición Ecológica y el Reto Demográfico" title="Ministerio para la Transición Ecológica y el Reto Demográfico"></li>
                <li><b>Ministerio para la Transición Ecológica y el Reto Demográfico</b></li>
                <li>Plaza San Juan de la Cruz, 10 28071 Madrid (España)</p></li>
              </ul>
              {#<ul class="list-unstyled ">
                <li class="list-element-lowpriority"><a href="{{ h.url_for('home.about') }}">{{ _('About {0}').format(g.site_title) }}</a></li>
                <li class="list-element-lowpriority"><a href="{{ api_url }}">{{ _('CKAN API') }}</a></li>
                <li class="list-element-lowpriority"><a href="http://www.ckan.org/">{{ _('CKAN Association') }}</a></li>
              </ul>#}
              </ul></div>
              {#<ul class="logo_open_data">
                <li><a href="http://www.opendefinition.org/okd/"><img src="{{ h.url_for_static('/base/images/od_80x15_blue.png') }}" alt="Open Data"></a></li>
              </ul>#}
            </div>
            <div class="col-md-4 attribution d-flex flex-column align-items-start">
              {% block footer_attribution %}
                {#<div class="footer-powered-ckan">
                  <p>{% trans %}<strong>Powered by</strong> <a class="hide-text ckan-footer-logo" href="http://ckan.org">CKAN</a>{% endtrans %}</p>
                </div>#}
              {% endblock %}
              {% block footer_social %}
              {% set social = h.schemingdcat_get_social_links() %}
                <div class="footer-socicons footer-socicons_miteco">
                    <a href="{{ h.url_for_static_or_external('https://www.instagram.com/miteco.gob/') }}" class="icon-button">
                        <span class="ficon-instagram"></span>
                    </a>
                    <a href="{{ h.url_for_static_or_external(social.x) }}" class="icon-button">
                      <span class="ficon-twitter-x"></span>
                    </a>
                    <a href="{{ h.url_for_static_or_external('https://www.facebook.com/profile.php?id=100086412188137') }}" class="icon-button">
                      <span class="ficon-facebook"></span>
                    </a>
                    <!-- <a href="{{ h.url_for_static_or_external(social.linkedin) }}" class="icon-button">
                      <span class="ficon-linkedin"></span>
                    </a> -->
                </div>
              {% endblock %}
            </div>
          {% endblock %}
        </div>
        
      </div>
      {% endblock %}
    </div>
  </footer>